*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@viewport{
    zoom:1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width:extend-to-zoom;
    zoom: 1.0;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
  height: 55px;
    width: 138px;
    background-color: rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 17px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
.navbar{
    background-color: white;
    margin-top: -80px;
    height:150px;
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.main{
    background: url(cat.jpg) no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
}
.main h3{
    color:rgba(233, 20, 109);
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 70%;
}
.about img{
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
    margin: 10px;
    padding: 10px;
    margin-left: 15%;
    margin-top:30%;
    width: 350px;
    height:500px
}
h1{
    font-size: 3rem;
    font-weight:900;
    margin-top:30%;
}
.control ul li{
    list-style: none;
    background-color: black;
    padding:5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}
.container{
    margin: 70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height:300px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.1);
}
.container .box .detials{
    position: absolute;
    top: 10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .detials{
    transform: scaleY(1);
}
.container .box .detials .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.container .box .detials .content h2{
    margin:0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
    text-align: center;
}
.container .box .detials .content p{
    margin:10px 0 0;
    padding: 0;
    text-align: center;
}
#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width:130px;
    transition: 0.5s;
    padding:10%;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}
#footer{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    height: 300px;
    color: #fff;
    margin-top: -10%;
}
.footer-img{
    width:100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width:120px;
    margin-bottom:20px;
}
.footer-box .fa{
    margin-right:8px;
    font-size:25px;
    height:40px;
    width:40px;
    text-align:center;
    padding-top:7px;
    border-radius:2px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}